* {
  list-style: none;
  background-color:#fff1f8;
}

.lista-carrito {
  display: flex;
  align-items: center;
}

.productos-lista button {
  background-color: #f472b6 !important; 
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}



.card-hueso {
  background-color: #fdfbf7 !important;
} 