* {
  list-style: none;
  scroll-behavior: smooth;
}

body{
  background-color:#fff1f8;
}

.lista-carrito {
  display: flex;
  align-items: center;
}

.productos-lista button {
  background-color: #f472b6 !important; 
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.sidebar-car{
  background-color: #fff1f8;
}
@keyframes stopMotionBalanceo {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  25% {
    transform: translateX(6px) rotate(8deg);
  }
  50% {
    transform: translateX(0px) rotate(0deg);
  }
  75% {
    transform: translateX(-5px) rotate(-8deg);
  }
  100% {
    transform: translateX(0px) rotate(0deg);
  }
}

.animacion-stop-motion {
  animation: stopMotionBalanceo 0.8s steps(1) infinite;
}